.idea
etc
tests
user_guide
application.rar
.editorconfig
composer.json
application/config/database.php
application/config/config.php
application/controllers/Create_crud.php
application/controllers/Create_report.php
application/models/Create_crud_model.php
application/models/Create_report_model.php
application/views/create_crud
application/views/create_report
application/views/layout/left_crud.php
application/views/crud_layout.php
assets/apps/js/create_crud.js
assets/apps/js/create_report.js
assets/images/banner/*
assets/images/users/*
assets/images/
assets/downloads/pop_vaccine/*
/uploads

/crud
/report
contributing.md
/vendor
*.docx